
<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Contas a Pagar - Hausz</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('financeiro.static', filename='img/favicons/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="72x72" href="{{ url_for('financeiro.static', filename='img/favicons/Icon_Hausz_72x72.png')}}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('financeiro.static', filename='img/favicons/Icon_Hausz_96x96.png')}}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('financeiro.static', filename='img/favicons/Icon_Hausz_96x96.png')}}">
    <link rel="manifest" href="{{ url_for('financeiro.static', filename='img/favicons/manifest.json')}}">
    <meta name="msapplication-TileImage" content="{{ url_for('financeiro.static', filename='img/favicons/mstile-150x150.png')}}">
    <meta name="theme-color" content="#ffffff">

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <script src="{{ url_for('financeiro.static', filename='js/config.navbar-vertical.js')}}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="{{ url_for('financeiro.static', filename='lib/perfect-scrollbar/perfect-scrollbar.css')}}" rel="stylesheet">
    <link href="{{ url_for('financeiro.static', filename='lib/datatables-bs4/dataTables.bootstrap4.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('financeiro.static', filename='lib/datatables.net-responsive-bs4/responsive.bootstrap4.css')}}" rel="stylesheet">
    <link href="{{ url_for('financeiro.static', filename='lib/leaflet/leaflet.css')}}" rel="stylesheet">
    <link href="{{ url_for('financeiro.static', filename='lib/leaflet.markercluster/MarkerCluster.css')}}" rel="stylesheet">
    <link href="{{ url_for('financeiro.static', filename='lib/leaflet.markercluster/MarkerCluster.Default.css')}}" rel="stylesheet">
    <link href="{{ url_for('financeiro.static', filename='css/theme.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('financeiro.static', filename='css/dropdown_filter.css')}}">

  </head>

  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">

      <div class="container" data-layout="container">
        <nav class="navbar navbar-vertical navbar-expand-xl navbar-light">
          <div class="d-flex align-items-center">
            <div class="toggle-icon-wrapper">

              <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-toggle="tooltip" data-placement="left" title="Menu"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>

            </div><a class="navbar-brand" href="#">
              <div class="d-flex align-items-center py-3"><img class="mr-2" src="{{ url_for('index.static', filename='assets/img/illustrations/Imagem4.png') }}" alt="" width="40" /><span class="text-sans-serif">Hausz</span>
              </div>
            </a>
          </div>
          <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
            <div class="navbar-vertical-content perfect-scrollbar scrollbar">
              <ul class="navbar-nav flex-column">
                <li class="nav-item"><a class="nav-link dropdown-indicator" href="#home" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="home">
                  <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-chart-pie"></span></span><span class="nav-link-text">Home</span>
                  </div>
                </a>
                <ul class="nav collapse show" id="home" data-parent="#navbarVerticalCollapse">
                  <li class="nav-item "><a class="nav-link" href="{{ url_for('index.home') }}">Home</a>
                  </li>
                </ul>
              </li>
              </ul>
              <ul class="navbar-nav flex-column">
                <li class="nav-item"><a class="nav-link dropdown-indicator" href="#logistica" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="logistica">
                  <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-chart-pie"></span></span><span class="nav-link-text">Logistica</span>
                  </div>
                </a>
                <ul class="nav collapse show" id="logistica" data-parent="#navbarVerticalCollapse">
                  <li class="nav-item"><a class="nav-link" href="{{ url_for('home.RelatorioGeral') }}">Relatório Logistica</a>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="{{ url_for('transporte.Transporte_rota') }}">Relatório Transportes</a>
                  </li>
                  <li class="nav-item active"><a class="nav-link" href="{{ url_for('wms.Integracao_wms_first_page', page = 1) }}">Integração WMS</a>
                  </li> 
                </ul>
              </li>
              </ul>
              <ul class="navbar-nav flex-column">
                <li class="nav-item"><a class="nav-link dropdown-indicator" href="#Financeiro" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="Financeiro">
                  <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-chart-pie"></span></span><span class="nav-link-text">Financeiro</span>
                  </div>
                </a>
                <ul class="nav collapse show" id="Financeiro" data-parent="#navbarVerticalCollapse">
                  <li class="nav-item"><a class="nav-link" href="{{ url_for('financeiro.home_financeiro') }}">Relatorio Financeiro</a>
                  </li>
                </ul>
              </li>
              </ul>
          </div>
        </nav>      
        <div class="content">
          <nav class="navbar navbar-light navbar-glass navbar-top sticky-kit navbar-expand">

            <button class="btn navbar-toggler-humburger-icon navbar-toggler mr-1 mr-sm-3" type="button" data-toggle="collapse" data-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
            <a class="navbar-brand mr-1 mr-sm-3" href="{{ url_for('home.RelatorioGeral') }}">
              <div class="d-flex align-items-center"><img class="mr-2" src="{{ url_for('financeiro.static', filename='img/illustrations/falcon.png')}}" alt="" width="40" /><span class="text-sans-serif">Hausz</span>
              </div>
            </a>
            <ul class="navbar-nav align-items-center d-none d-lg-block">
              <li class="nav-item">
                <div class="search-box">
                  <form class="position-relative" data-toggle="search" data-display="static">
                    <input class="form-control search-input" type="search" placeholder="Search..." aria-label="Search" />
                    <span class="fas fa-search search-box-icon"></span>
                  </form>
                  <button class="close" type="button" data-dismiss="search"><span class="fas fa-times"></span></button>
                </div>
              </li>
            </ul>
          </nav>
          <!-- CARDS -->
          <div class="card-deck">
            <!-- CARD1 -->
            <div class="card mb-3 overflow-hidden" style="min-width: 12rem">
              <div class="bg-holder bg-card">
              </div>
              <div class="card-body position-relative">
                <h6> Rejeições do dia</h6>
                <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif text-light">{{ card1 }}</div>
              </div>
            </div>
            <!-- FIM CARD -->
            <!-- CARD2 -->
            <div class="card mb-3 overflow-hidden" style="min-width: 12rem">
              <div class="bg-holder bg-card">
              </div>
              <div class="card-body position-relative">
                <h6>Percentual com base no dia anterior</h6>
                <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif text-light">{{ card2 }}%</div>
              </div>
            </div>
            <!-- FIM CARD -->
            <!-- CARD3 -->
            <div class="card mb-3 overflow-hidden" style="min-width: 12rem">
              <div class="bg-holder bg-card">
              </div>
              <div class="card-body position-relative">
                <h6>Percentual com base no mes anterior</h6>
                <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif text-light" >{{ card3 }}%</div>
              </div>
            </div>
            <!-- FIM CARD -->
            <!-- CARD4 -->
            <div class="card mb-3 overflow-hidden" style="min-width: 12rem">
              <div class="bg-holder bg-card">
              </div>
              <div class="card-body position-relative">

                <h6>Rejeições do dia anterior</h6>
              <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif text-light">{{ card4[0]['quantidade_de_rejeicao'] }}</div>

              </div>
            </div>
            <!-- FIM CARD -->
            <!-- CARD5 -->
            <div class="card mb-3 overflow-hidden" style="min-width: 12rem">
              <div class="bg-holder bg-card">
              </div>
      
              <div class="card-body position-relative">
                <h6>Numero de rejeicoes do mes anterior</h6>
                <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif text-light">{{ card5 }}</div>
              </div>
            </div>
            <!-- FIM CARD -->
            <!-- CARD6 -->
            <div class="card mb-3 overflow-hidden" style="min-width: 12rem">
              <div class="bg-holder bg-card">
              </div>
              <div class="card-body position-relative">
                <h6> Verificando Estoque</h6>
                <div class="display-4 fs-4 mb-2 font-weight-normal text-light">{{ card6 }}</div>
              </div>
            </div>
             <!-- CARD7 -->
            <div class="card mb-3 overflow-hidden" style="min-width: 12rem">
              <div class="bg-holder bg-card">
              </div>
              <div class="card-body position-relative">
                <h6> Falhas na integração Hoje </h6>
                <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif text-light">{{ card7 }}</div>
              </div>
            </div>
          <!-- FIM DO CARD7 -->
          <!-- CARD8 -->
          <div class="card mb-3 overflow-hidden" style="min-width: 12rem">
            <div class="bg-holder bg-card">
            </div>
            <div class="card-body position-relative">
              <h6> Falhas de Integração Não Resolvidas </h6>
              <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif text-light">{{ card8 }}</div>
            </div>
          </div>
        <!-- FIM DO CARD8 -->
          </div>
          <!-- FIM DOS CARDS -->
         
          <!-- TABELA -->
          <div class="card mb-3">
            <div class="card-header">
              <div class="row align-items-center justify-content-between">
                <div class="col-6 col-sm-auto d-flex align-items-center pr-0">
                  <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Tabela Rejeições</h5>
                </div>
                <form class="form-inline" action="{{ url_for('wms.filtro_tabela') }}" method="POST">
                  <div class="form-group mx-sm-3 mb-4">
                    <label for="inputPassword2" class="sr-only">Codigo Pedido</label>
                    <input type="text" class="form-control" id="inputPassword2" placeholder="Codigo Pedido" name="codigoPedido" for="codigoPedido">
                  </div>
                  <div class="form-group mx-sm-3 mb-4">
                    <label for="inputPassword2" class="sr-only">SKU</label>
                    <input type="text" class="form-control" id="inputPassword2" placeholder="SKU" name="SKU" for="SKU">
                  </div>
                  <div class="form-group mx-sm-3 mb-4">
                    <label for="inputPassword2" class="sr-only">Rejeição ID</label>
                    <input type="text" class="form-control" id="inputPassword2" placeholder="Rejeição ID" name="RejeicaoID" for="RejeicaoID">
                  </div>
                  <div class="form-group mx-sm-3 mb-4">
              
                    <label for="inputPassword2" class="sr-only">De:</label>
                    <input type="date" name="DataIni" for="DataIni" class="form-control" placeholder="Data Inicio">
                    <label for="inputPassword2" class="sr-only">Para:</label>
                    <input type="date" name="DataFim" for="DataFim" class="form-control" placeholder="Data Fim">
                  </div>
                  <button class="btn btn-falcon-default mx-auto" type="submit"><span class="fas fa-filter" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ml-1">Filter</span></button>
                </form>
                <button class="btn btn-falcon-default mx-auto" type="button"><a href ="{{ url_for('wms.Integracao_wms_first_page', page = 1, aaa = 1) }}"><span class="fas fa-filter-slash"></span><span class="d-none d-sm-inline-block ml-1">Limpa Filtro</span></a></button>
              </div>
            </div>
            <div class="card-body px-0 pt-0">
              <div class="dashboard-data-table">
                {% if aaa == 0: %}
                <table class="table table-sm table-dashboard fs--1" data-options='{"pageLength":15}'>
                {% else: %}
                <table class="table table-sm table-dashboard fs--1" data-options='{"pageLength":5}'>
                {% endif %}
                  <thead class="bg-200 text-900">
                    <tr>
                    
                      <!-- Cabeçalho Tabela -->
                      <th class="sort pr-1 align-middle">Cod. Pedido</th>
                      <th class="sort pr-1 align-middle">Versão Pedido</th>
                      <th class="sort pr-1 align-middle">SKU</th>
                      <th class="sort pr-1 align-middle">Rejeição ID</th>
                      <th class="sort pr-1 align-middle">Quantidade</th>
                      <th class="sort pr-1 align-middle">Quantidade Faltante</th>
                      <th class="sort pr-1 align-middle">Data</th>

                    </tr>
                  </thead>
                  <tbody id="purchases">
                    <!-- LINHA TABELA -->
                    {% for i in tabela %}

                    <tr class="btn-reveal-trigger">
                      <td class="align-middle">{{ i["CodigoPedido"] }}</td>
                      <td class="align-middle">{{ i["PedidoCorpEM"] }}</td>
                      <td class="align-middle">{{ i["sku"] }}</td>
                      <td class="align-middle">{{ i["Id"] }}</td>
                      <td class="align-middle">{{ i["Quantidade"] }}</td>
                      <td class="align-middle">{{ i["Quantidade_faltante"] }}</td>
                      <td class="align-middle">{{ i["Data_Rejeicao"] }}</td>
                    </tr>
                    {% endfor %}
                    <!-- FIM DA LINHA TABELA -->
                  </tbody>

                </table>

                {% if aaa == 0: %}
                <div></div>
                {% else: %}
                <div class="align-middle">
                  <th scope="row"><a href="{{page-1}}" class="btn btn-outline-dark">Inicio</a></th>
                  <th scope="row"><a href="{{page}}" class="btn btn-outline-dark">{{page}}</a></th>
                  <th scope="row"><a href="{{page+1}}" class="btn btn-outline-dark">{{page+1}}</a></th>
                  <th scope="row"><a href="{{page+2}}" class="btn btn-outline-dark">{{page+2}}</a></th>
                  <th scope="row"><a href="{{page+3}}" class="btn btn-outline-dark">{{page+3}}</a></th>
                  <th scope="row"><a href="{{page+4}}" class="btn btn-outline-dark">next</a></th>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{{ url_for('financeiro.static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('financeiro.static', filename='js/popper.min.js')}}"></script>
    <script src="{{ url_for('financeiro.static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('financeiro.static', filename='lib/@fortawesome/all.min.js')}}"></script>
    <script src="{{ url_for('financeiro.static', filename='lib/stickyfilljs/stickyfill.min.js')}}"></script>
    <script src="{{ url_for('financeiro.static', filename='lib/sticky-kit/sticky-kit.min.js')}}"></script>
    <script src="{{ url_for('financeiro.static', filename='lib/is_js/is.min.js')}}"></script>
    <script src="{{ url_for('financeiro.static', filename='lib/lodash/lodash.min.js')}}"></script>
    <script src="{{ url_for('financeiro.static', filename='lib/perfect-scrollbar/perfect-scrollbar.js')}}"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <script src="{{ url_for('financeiro.static', filename='lib/chart.js/Chart.min.js')}}"></script>
    <script src="{{ url_for('financeiro.static', filename='lib/datatables/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ url_for('financeiro.static', filename='lib/datatables-bs4/dataTables.bootstrap4.min.js')}}"></script>
    <script src="{{ url_for('financeiro.static', filename='lib/datatables.net-responsive/dataTables.responsive.js')}}"></script>
    <script src="{{ url_for('financeiro.static', filename='lib/datatables.net-responsive-bs4/responsive.bootstrap4.js')}}"></script>
    <script src="{{ url_for('financeiro.static', filename='lib/leaflet/leaflet.js')}}"></script>
    <script src="{{ url_for('financeiro.static', filename='lib/leaflet.markercluster/leaflet.markercluster.js')}}"></script>
    <script src="{{ url_for('financeiro.static', filename='lib/leaflet.tilelayer.colorfilter/leaflet-tilelayer-colorfilter.min.js')}}"></script>
    <script src="{{ url_for('financeiro.static', filename='js/theme.js')}}"></script>
    <script src="{{ url_for('financeiro.static', filename='js/dropdown_filter.js')}}"></script>
    <script src="{{ url_for('financeiro.static', filename='js/select.js')}}"></script>

  
    <!-- <script src="js/Api_flask.js"></script> -->
  </body>


</html>