<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Dossiê Financeiro - Hausz</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('financeiro.static', filename='assets/img/favicons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="72x72" href="{{ url_for('financeiro.static', filename='assets/img/favicons/Icon_Hausz_72x72.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('financeiro.static', filename='assets/img/favicons/Icon_Hausz_96x96.png') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('financeiro.static', filename='assets/img/favicons/Icon_Hausz_96x96.png') }}">
    <link rel="manifest" href="{{ url_for('financeiro.static', filename='assets/img/favicons/manifest.json') }}">
    <meta name="msapplication-TileImage" content="{{ url_for('financeiro.static', filename='assets/img/favicons/mstile-150x150.png') }}">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <script src="{{ url_for('financeiro.static', filename='assets/js/config.navbar-vertical.js') }}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="{{ url_for('financeiro.static', filename='assets/lib/perfect-scrollbar/perfect-scrollbar.css') }}" rel="stylesheet">
    <link href="{{ url_for('financeiro.static', filename='assets/lib/datatables-bs4/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('financeiro.static', filename='assets/lib/datatables.net-responsive-bs4/responsive.bootstrap4.css') }}" rel="stylesheet">
    <link href="{{ url_for('financeiro.static', filename='assets/lib/leaflet/leaflet.css') }}" rel="stylesheet">
    <link href="{{ url_for('financeiro.static', filename='assets/lib/leaflet.markercluster/MarkerCluster.css') }}" rel="stylesheet">
    <link href="{{ url_for('financeiro.static', filename='assets/lib/leaflet.markercluster/MarkerCluster.Default.css') }}" rel="stylesheet">
    <link href="{{ url_for('financeiro.static', filename='assets/css/theme.css') }}" rel="stylesheet">
    <link href="{{ url_for('financeiro.static', filename='assets/css/mapa_home.css') }}" rel="stylesheet">
    <link href="{{ url_for('financeiro.static', filename='/css/dropdown_filter.css') }}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!--Importação do Charts.js para criação de gráficos-->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
   

  </head>


  <body>
  
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">

      <div class="container" data-layout="container">
        <nav class="navbar navbar-vertical navbar-expand-xl navbar-light">
            <div class="d-flex align-items-center">
              <div class="toggle-icon-wrapper">
  
                <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-toggle="tooltip" data-placement="left" title="Menu"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
  
              </div><a class="navbar-brand" href="#">
                <div class="d-flex align-items-center py-3"><img class="mr-2" src="{{ url_for('index.static', filename='assets/img/illustrations/Imagem4.png') }}" alt="" width="40" /><span class="text-sans-serif">Hausz</span>
                </div>
              </a>
            </div>
            <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
              <div class="navbar-vertical-content perfect-scrollbar scrollbar">
                <ul class="navbar-nav flex-column">
                  <li class="nav-item"><a class="nav-link dropdown-indicator" href="#home" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="home">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-chart-pie"></span></span><span class="nav-link-text">Home</span>
                    </div>
                  </a>
                  <ul class="nav collapse show" id="home" data-parent="#navbarVerticalCollapse">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index.home') }}">Home</a>
                    </li>
                  </ul>
                </li>
                </ul>
                <ul class="navbar-nav flex-column">
                  <li class="nav-item"><a class="nav-link dropdown-indicator" href="#logistica" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="logistica">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-chart-pie"></span></span><span class="nav-link-text">Logistica</span>
                    </div>
                  </a>
                  <ul class="nav collapse show" id="logistica" data-parent="#navbarVerticalCollapse">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('home.RelatorioGeral') }}">Relatório Logistica</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('transporte.Transporte_rota') }}">Relatório Transportes</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('wms.Integracao_wms_first_page', page = 1) }}">Integração WMS</a>
                    </li> 
                  </ul>
                </li>
                </ul>
                <ul class="navbar-nav flex-column">
                  <li class="nav-item"><a class="nav-link dropdown-indicator" href="#Financeiro" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="Financeiro">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-chart-pie"></span></span><span class="nav-link-text">Financeiro</span>
                    </div>
                  </a>
                  <ul class="nav collapse show" id="Financeiro" data-parent="#navbarVerticalCollapse">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('financeiro.home_financeiro') }}">Dossiê Financeiro</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('Contas_Pagar.Contas_a_Pagar') }}">Contas a Pagar</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('Contas_Receber.Contas_a_Receber') }}">Contas a Receber</a>
                    </li>
                  </ul>
                </li>
                </ul>
            </div>
          </nav>      
        
        <div class="content">
          <nav class="navbar navbar-light navbar-glass navbar-top sticky-kit navbar-expand">

            <button class="btn navbar-toggler-humburger-icon navbar-toggler mr-1 mr-sm-3" type="button" data-toggle="collapse" data-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
            <a class="navbar-brand mr-1 mr-sm-3" href="{{ url_for('home.RelatorioGeral') }}">
              <div class="d-flex align-items-center"><img class="mr-2" src="{{ url_for('financeiro.static', filename='assets/img/illustrations/falcon.png') }}" alt="" width="40" /><span class="text-sans-serif">Hausz</span>
              </div>
            </a>
          </nav>
          <!-- DropDown de Marcas -->

          
          
          <div class="row text-white align-items-center no-gutters">
            <div class="col-auto d-none d-sm-block">
          <center> <form method="POST" action="/dashboard/financeiro">
            
            <select class="custom-select custom-select-sm mb-3" name="marca">
                 {% if not marca_selecionada %} 
                 <option selected disabled value=''>Todas Marcas</option>  
                 {% else %} 
                 <option selected disabled value=''>{{marca_selecionada}}</option>
                 {% endif %}
                  <option value="">Todas Marcas</option>
                  <option value="{{marcas[0]}}">{{marcas[0]}}</option>
                  {% for marca in marcas[1:] %}
                    <option value="{{marca}}">{{marca}}</option>
                  {% endfor %}
              </select>
  
        </div>
        <div class="col-auto d-none d-sm-block">
            
            <select class="custom-select custom-select-sm mb-3" name="ano">
                 {% if not ano_selecionado %} 
                 <option selected disabled value="">Todos Anos</option>  
                 {% else %} 
                 <option selected disabled value="">{{ano_selecionado}}</option>
                 {% endif %}
                  <option value="2022">2022</option>
                  <option value="2021">2021</option>
                  <option value="2020">2020</option>
                  <option value="">Todos Anos</option>
              </select>
              
              <button type="submit">Selecionar</button>
        </form> </center>
        </div>
        </div>
        <br>
          <!-- CARDS -->
          <div class="card-deck">
          {% for k,v in cards.items() %}
          <div class="card mb-3 overflow-hidden" style="min-width: 12rem">
            <div class="bg-holder bg-card" style="background-image:url(../static/assets/img/illustrations/corner-1.png);">
            </div>
            <div class="card-body position-relative">
              <h6>{{ k }}<span class="badge badge-soft-warning rounded-capsule ml-2"></span></h6>
              <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif text-light">{{ v }}</div>
            </div>
          </div>  
          {% endfor %}
          <!-- CARDS Com Download--> 

          <div class="card mb-3 overflow-hidden" style="min-width: 12rem">
            <div class="bg-holder bg-card" style="background-image:url(../static/assets/img/illustrations/corner-1.png);">
            </div>
            <div class="card-body position-relative">
              <h6> <center> Inventário </center><span class="badge badge-soft-warning rounded-capsule ml-2"></span></h6>
              <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif text-light"> <center> {{inventario_total}} </center> </div>
              <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif text-light"><a class="card-link d-block" href="/download/df_inventario_por_marca/Inventário"><center>Download</center></a> </div>
            </div>
          </div>
          <div class="card mb-3 overflow-hidden" style="min-width: 12rem">
            <div class="bg-holder bg-card" style="background-image:url(../static/assets/img/illustrations/corner-1.png);">
            </div>
            <div class="card-body position-relative">
              <h6> <center> Vendas Total </center> <span class="badge badge-soft-warning rounded-capsule ml-2"></span></h6>
              <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif text-light"> <center> {{venda_total}} </center></div>
              <br>
              <h6> <center> Vendas ShowRoom </center> <span class="badge badge-soft-warning rounded-capsule ml-2"></span></h6>
              <div> <strong><center> {{venda_total_showroom}} </center></strong> </div>
              <br>
              <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif text-light"><a class="card-link d-block" href="/download/df_vendas_por_mes_por_marca/Vendas"><center>Download</center></a> </div>
            </div>
          </div>
              <!--Gráfico de Vendas Total Com %-->

              <canvas id="ChartVendas"></canvas> <!--width="500" height="300"-->
              <script>
                Chart.register(ChartDataLabels);
                var ctx = document.getElementById("ChartVendas").getContext("2d")
                var ChartVendas = new Chart(ctx, {
                  plugins: [ChartDataLabels],
                  data: {
                    labels: {{ labels_vendas | safe }},
                    datasets: [
                      {
                        label: "R$",
                        data: {{ values_vendas | safe }},
                        //fill: false,
                        //borderCorlor: "blue",
                        backgroundColor: "rgb(256,244,236)",
                        datalabels: {
                            anchor: 'end',
                            align: 'top',
                            color: 'blue',
                            formatter: function(value) {
                              return 'R$ ' + Number(value).toLocaleString();
                            }
                        },
                        //lineTension: 0.1
                        //stack: 'combined',
                        type: 'bar',
                        yAxisID: 'y',
                        order: 2
                      },
                      {
                        type: 'line',
                        label: "%",
                        data: {{ values_vendas_pct | safe }},
                        //fill: false,
                        datalabels: {
                            anchor: 'end',
                            align: 'top',
                            offset: 20,
                            display: 'auto',
                            color: 'green',
                            //clip: true,
                            formatter: function(value) {
                              return value + '%';
                            }
                        },
                        borderColor: "red",
                        backgroundColor: "red",  
                        //borderCorlor: "rgb(75,192,192)",
                        //lineTension: 0.1
                        //stack: 'combined',
                        yAxisID: 'y1',
                       //type: 'bar'
                       order: 1
                      }
                    ]
                  },
                      options: {
                      responsive: true,
                      interaction: {
                        mode: 'index',
                        intersect: false,
                      },
                      stacked: false,
                      plugins: {
                        title: {
                          display: true,
                          text:  'Vendas'
                        },
                        datalabels: {
                            // formatter: function(value) {
                            //   return value + '%';
                            // },                      
                          labels: {
                            title: {
                              font: {
                                weight: 'bold'
                              }
                            },
                            value: {
                              color: 'green'
                            }
                          }
                        },
                      },
                    scales: {
                          y: {
                            type: 'linear',
                            display: true,
                            position: 'left',
                          },
                          y1: {
                            type: 'linear',
                            display: true,
                            position: 'right',
    
                            // grid line settings
                      grid: {
                        drawOnChartArea: false, // only want the grid lines for one axis to show up
                              },
                            },
                          },
                        },
                    },);
              </script>
            <!--Gráfico de Vendas Total Com %-->

            <!--Gráfico de Vendas Showroom/Cliente-->
          <canvas id="ChartVendasShowRoomCliente"></canvas> <!--width="500" height="300"-->
          <script>
            Chart.register(ChartDataLabels);
            var ctx2 = document.getElementById("ChartVendasShowRoomCliente").getContext("2d")
            var ChartVendas = new Chart(ctx2, {
              plugins: [ChartDataLabels],
              data: {
                labels: {{ labels_vendas | safe }},
                datasets: [
                  {
                    label: "ShowRoom",
                    data: {{ values_vendas_showroom | safe }},
                    //fill: false,
                    //borderCorlor: "blue",
                    backgroundColor: "rgb(256,244,236)",
                    datalabels: {
                        anchor: 'end',
                        align: 'top',
                        color: 'blue',
                        formatter: function(value) {
                          return 'R$ ' + Number(value).toLocaleString();
                        }
                    },
                    //lineTension: 0.1
                    //stack: 'combined',
                    type: 'bar',
                    yAxisID: 'y',
                    order: 2
                  },
                  {
                    label: "Cliente",
                    data: {{ values_vendas_cliente | safe }},
                    //fill: false,
                    //borderCorlor: "blue",
                    backgroundColor: 'green',
                    datalabels: {
                        anchor: 'end',
                        align: 'top',
                        color: 'blue',
                        formatter: function(value) {
                          return 'R$ ' + Number(value).toLocaleString();
                        }
                    },
                    //lineTension: 0.1
                    //stack: 'combined',
                    type: 'bar',
                    yAxisID: 'y',
                    order: 2
                  },
                ]
              },
                  options: {
                  responsive: true,
                  interaction: {
                    mode: 'index',
                    intersect: false,
                  },
                  stacked: false,
                  plugins: {
                    title: {
                      display: true,
                      text: 'Vendas 2022'
                    },
                    datalabels: {
                        // formatter: function(value) {
                        //   return value + '%';
                        // },                      
                      labels: {
                        title: {
                          font: {
                            weight: 'bold'
                          }
                        },
                        value: {
                          color: 'green'
                        }
                      }
                    },
                  },
                scales: {
                      y: {
                        type: 'linear',
                        display: true,
                        position: 'left',
                      },
                      y1: {
                        type: 'linear',
                        display: true,
                        position: 'right',

                        // grid line settings
                  grid: {
                    drawOnChartArea: false, // only want the grid lines for one axis to show up
                          },
                        },
                      },
                    },
                },);
          </script>
        <!--Gráfico de Vendas Showroom/Cliente-->
              
          
        </div>
      </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{{ url_for('financeiro.static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('financeiro.static', filename='assets/js/popper.min.js') }}"></script>
    <script src="{{ url_for('financeiro.static', filename='assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('financeiro.static', filename='assets/lib/@fortawesome/all.min.js') }}"></script>
    <script src="{{ url_for('financeiro.static', filename='assets/lib/stickyfilljs/stickyfill.min.js') }}"></script>
    <script src="{{ url_for('financeiro.static', filename='assets/lib/sticky-kit/sticky-kit.min.js') }}"></script>
    <script src="{{ url_for('financeiro.static', filename='assets/lib/is_js/is.min.js') }}"></script>
    <script src="{{ url_for('financeiro.static', filename='assets/lib/lodash/lodash.min.js') }}"></script>
    <script src="{{ url_for('financeiro.static', filename='assets/lib/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <script src="{{ url_for('financeiro.static', filename='assets/lib/chart.js/Chart.min.js') }}"></script>
    <script src="{{ url_for('financeiro.static', filename='assets/lib/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('financeiro.static', filename='assets/lib/datatables-bs4/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('financeiro.static', filename='assets/lib/datatables.net-responsive/dataTables.responsive.js') }}"></script>
    <script src="{{ url_for('financeiro.static', filename='assets/lib/datatables.net-responsive-bs4/responsive.bootstrap4.js') }}"></script>
    <script src="{{ url_for('financeiro.static', filename='assets/lib/leaflet/leaflet.js') }}"></script>
    <script src="{{ url_for('financeiro.static', filename='assets/lib/leaflet.markercluster/leaflet.markercluster.js') }}"></script>
    <script src="{{ url_for('financeiro.static', filename='assets/lib/leaflet.tilelayer.colorfilter/leaflet-tilelayer-colorfilter.min.js') }}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js" ></script>
    <script src="{{ url_for('financeiro.static', filename='assets/js/theme.js') }}"></script>
    <script src="{{ url_for('financeiro.static', filename='assets/js/mapa.js') }}"></script>
    

  </body>

</html>